
body{
background:#004d4d;


}
#log{
	
	font-size: 20px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px;
	border-style:none;
	border-radius:5px; 
	background:#006666;
	color:white;
	width:500px;
	height:300px;
	box-shadow: 10px 10px #003333;
	

}